@tailwind base;
@tailwind components;
@tailwind utilities;

.button-cms-mapping {
  background-color: #04AA6D;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  padding: 5px;
}