@tailwind base;
@tailwind components;
@tailwind utilities;

.button-cms-mapping {
  background-color: #04aa6d;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  padding: 5px;
}
.input-cms-mapping {
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  background-color: antiquewhite;
  display: inline-block;
  z-index: 10;
}
